// Colors
$COLORS: (

);

// Responsive

$screen-sm: 768px !default;
$screen-md: 1025px !default;
$screen-lg: 1281px !default;
$screen-xl: 1600px !default;

$breakpoints: (
    "small"       : "(max-width: #{$screen-sm - 1})",
    "medium"      : "(max-width: #{$screen-md - 1})",
    "large"       : "(max-width: #{$screen-lg - 1})",
    "huge"        : "(max-width: #{$screen-xl - 1})",
    "widest"      : "(min-width: #{$screen-xl})",
    "medium-only" : "(min-width: #{$screen-sm}) and (max-width: #{$screen-md - 1})"
) !default;